<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script type="text/javascript" async="" src="./js/jquery.githubRepoWidget.custom.js"></script>

{% if site.blogfeed %}
	<script  type="text/javascript">
	(function() {

		$.get("{{site.blogfeed}}", function (data) {
			var $items = $(data).find("item");
			$.each($items.slice(0,10), function (i, el) {
				var $el = $(el);
				var link = $el.find("link").text();
				var title = $el.find("title").text();
				$('#blogArticles').append("<a target='_blank' href='" + link + "'>" + title + "</a><br><br>");
			});
		},
     		"xml");
	})();
	</script>
{% endif %}
